.list {
  display: flex;
  justify-content: space-around;

  /* margin: 0 50px; */
  /* width: 100px; */
  flex-wrap: wrap;
  /* padding: 50px 50px; */
  /* width: 50px;
  height: 100px; */
}
.ul {
  /* padding: 50px 50px; */
  width: 200px;
  height: 200px;
  background-color: wheat;
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* .ul-list {
  background-color: wheat;
  margin: 0 50px;
  list-style-type: none;
  border-radius: 5px;
  width: 50px;
  height: 100px;
} */

.b-list {
  list-style-type: none;
}

.button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  list-style-type: none;
  margin: 2px 0;
}
